.hidden {
  display: none;
}

form {
  padding-left: 25px;
}

body, html {
  height: 100%;
  font-family: sans-serif;
  color: #000;
  margin-top: 25px;
  padding-left: 25px;
  /*overflow: hidden;*/
}

body {
  background-color: #82B64A;
}
